body {
   background-image: url("black.jpeg");
    background-size: cover;
    background-repeat: no-repeat;   
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

nav {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

p {
    color: #666;
    line-height: 1.5;
    text-align: justify;
}


.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    color: #888;
}

.card a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

.card a:hover {
    background-color: #45a049;
}
