body {
    background-image: url("black.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #fff;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

p {
    color: #ccc;
    line-height: 1.5;
    text-align: justify;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 4px;
    box-sizing: border-box;
}

.card h2 {
    margin-top: 0;
    color: #fff;
}

.card p {
    color: #ccc;
}

.card a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

.card a:hover {
    background-color: #45a049;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #666;
}
